@font-face {
    font-family: Gilroy; /* Гарнитура шрифта */
    src: url(../fonts/Gilroy-ExtraBold.otf); /* Путь к файлу со шрифтом */
   }

@font-face {
  font-family: Gilroy; /* Гарнитура шрифта */
  src: url(../fonts/Gilroy-Light.otf); /* Путь к файлу со шрифтом */
 }

body {

	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;	/*Основной шрифт*/
	font-size: 15px;							
	line-height: 30px;			/*Высота строки*/
	color: #464646;

	background-color: #ffffff;
}

a {
	text-decoration: none;  /*Ссылки без подчеркивания */
	color: #464646;
}

ul {
	list-style: none;		/*Убираем маркеры в списках*/
}

header {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    background: rgba(240, 197, 46, 0.5);
}

.header-content {
	width: 1045px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.sign-compare-cart ul,
.site-navigation ul {
	padding: 0px;
}

.header-logo-top {			/* Верхний логотип */
	position: absolute;
	margin-top: -13px;
	font-size: 60px;
	color: black;
	font-weight: bold;
}

.header-logo-top:hover {
	color: rgba(0, 0, 0, 0.5);
}
.header-logo-top:active {
	color: rgba(0, 0, 0, 0.2);
}

.tophead {				/*Верхняя строка меню хедера  */
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 0px;
}
.site-search, 
.site-search2 {  		/*Ширины флекс-контейнеров */
	width: 522px;
}

.tophead .visually-hidden {  /*Скрываем описание формы поиска товаров */
	display: none;
}

.search-site-form {		/* Размеры формы поиска */
	padding-top: 50px;
	width: 300px;
}



.search-by-site::before {			/* Вставляем значок лупа */
	content: "";
	background-image: url("../img/svg/search.svg");
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-right: 10px;
}
.search-border {			/* Убираем рамку в поле поиска и делаем фон как у хедера */
	background-color: transparent;
	border: transparent;
	color: rgba(0, 0, 0, 0.5);
}
.search-by-site:hover .search-border {		/* При наведении на форму появляется рамка */
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-by-site .button-search {
	display: none;
}
.search-by-site:hover .button-search {		/* При наведении на форму появляется кнопка "Найти" */
	display: inline;
}


.login-link-top {margin-right: 223px;}
.login-link-top::before {		/* Войти */
	content: "";
	background-image: url("../img/svg/user.svg");
	height: 12px;
	width: 13px;
	display: inline-block;
	margin-right: 10px;
}

.compare {						/*Сравнить*/
	margin-right: 48px;	
}
.compare::before {				
	content: "";
	background-image: url("../img/svg/compare.svg");
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-right: 10px;
}

.cart {							/* Корзина */
	margin-right: 0px;
}
.cart::before {
	content: "";
	background-image: url("../img/svg/cart.svg");
	height: 12px;
	width: 12px;
	display: inline-block;
	margin-right: 10px;
}




.cat-del-war-con {			/*Средняя строка меню хедера */
	display: flex;
	justify-content: space-between;
}

.types {
	display: flex;
	padding-left: 0px;
}

.gilroy-font-header {
	font-family: Gilroy, Arial, serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: black;
}

.after-plus::after {		/* Вставляем плюсик */
	content: "";
	background-image: url("../img/svg/plus.svg");
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-left: 10px;
}

.submenu .types {				
	display: none;
}
.submenu:hover .types {			/* Создаем выпадающий список */
	display: flex;
}

.types-row:not(:last-child) {
	padding-right: 55px;		/*Отступы между тремя списками в Каталоге товаров*/
}


.delivery {
	position: absolute;
	margin-left: -200px;}

.warranty {margin-right: 90px;}

.contacts {margin-right: -3px;}  /* -3px - чтобы убрать отступ от letter-spacing */





.about-us-and-contacts,
.main-container {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
}

.big-advirt-photo {
	width: 550px;
	height: 500px;
}
