.search-site {        /*форма поиска по сайту*/
  width: 250px;
}


.site-navigation {
    width: 900px;
    height: 150px;
    background: rgba(255, 215, 3, 0.4);
    padding-left: 30px;
}

.site-navigation ul {       /* Список навигации по сайту */
    list-style: none;  /* Убираем маркеры */
}

.cat-del-war-con {        /* Ссылки Каталог-Доставка-Гарантия-Контакты */
    padding-left: 10px;    /*Отступ от края блока */
    padding-top: 15px;
}

.cat-del-war-con ul {
    padding-left: 0px;      /*Отступ внутр списка ul */
}

.types {                  /* Список категорий товаров */
    font-size: 12px;
    padding-top: 10px;
}

.submenu {                /* Чтобы Каталог-Доставка-Гарантия-Контакты в одну строку */
    float: left;
    padding-left: 0px;
}

.container-for-types {    /* Блок для списка категорий товаров */
  width: 400px;
}

.types-row {        /* Группировка списка категорий товаров (types): 3-2-1 */
  float: left;
}

.row-second,
.row-third {
  margin-left: 30px;
}

.delivery {
  padding-left: 10px;
}

.warranty {
  padding-left: 30px;
}

.contacts {
  padding-left: 80px;
}


.big-advirt-photo {         /*  Блок с большой рекламной картинкой  */

}





/*  Блок иконок каталога  */

.categories-icons {           /*   Список категорий товаров   */
      list-style: none;  /* Убираем маркеры */
}

.categories-icons li {
  float:left;
  padding: 30px;
}

.categories-icons li:first-child {
  clear: both;
}

.categories-icon-background {     /*   Фон иконок   */
  width:160px;
  height: 160px;
  background: rgba(247, 226, 150, 0.5);
  text-align: center;
}


.categories-icon-background::after{
  content: "";
  width:160px;
  height: 160px;
  background: rgba(247, 226, 150, 0.5);
  background-image: url(img/svg/popular-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;  
}

.categories-icon-image {      /*  Сами иконки без фона   */
  padding-top: 43px;
}

.categories-icon-sign {       /* Подписи к иконкам  */
}

/*   Блок информации о доставке, гарантии и кредите   */
.del-war-cred {
  clear: both;
}

/*Блок логотипов брендов */
.our-brands {
  list-style: none;  /* Убираем маркеры */
}

.brands-icon {
  float: left;
}

.cancel_float {
  clear: both;
}




/*   Блок ссылок на социальные сети    (пробный вариант)   */

.social-networks {
  list-style: none;  /* Убираем маркеры */
}

.social-networks li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}


.social-button {
  background: rgba(0, 0, 0, 0.5);
}

.html-icon {
  clear: both;
  padding-left: 200px;
}